@model NetMed.WebApi.Models.DoctorAvailability.DoctorAvailabilityModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DoctorAvailabilityModelUpdate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="availabilityID" class="control-label"></label>
                <input asp-for="availabilityID" class="form-control" />
                <span asp-validation-for="availabilityID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="doctorID" class="control-label"></label>
                <input asp-for="doctorID" class="form-control" />
                <span asp-validation-for="doctorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="availableDate" class="control-label"></label>
                <input asp-for="availableDate" class="form-control" type="date" />
                <span asp-validation-for="availableDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="startTime" class="control-label"></label>
                <input asp-for="startTime" class="form-control" type="time" />
                <span asp-validation-for="startTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="endTime" class="control-label"></label>
                <input asp-for="endTime" class="form-control" type="time" />
                <span asp-validation-for="endTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
