@model NetMed.ApiConsummer.Core.Models.InsuranceProvider.UpdateInsuranceProviderModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit InsuranceProvider</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InsuranceProviderID" />
            <div class="form-group">
                <label asp-for="InsuranceProviderID" class="control-label"></label>
                <div class="form-control-plaintext">@Model.InsuranceProviderID</div>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contactNumber" class="control-label"></label>
                <input asp-for="contactNumber" class="form-control" />
                <span asp-validation-for="contactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="website" class="control-label"></label>
                <input asp-for="website" class="form-control" />
                <span asp-validation-for="website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="city" class="control-label"></label>
                <input asp-for="city" class="form-control" />
                <span asp-validation-for="city" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="state" class="control-label"></label>
                <input asp-for="state" class="form-control" />
                <span asp-validation-for="state" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="country" class="control-label"></label>
                <input asp-for="country" class="form-control" />
                <span asp-validation-for="country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="zipCode" class="control-label"></label>
                <input asp-for="zipCode" class="form-control" />
                <span asp-validation-for="zipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="coverageDetails" class="control-label"></label>
                <input asp-for="coverageDetails" class="form-control" />
                <span asp-validation-for="coverageDetails" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isPreferred" /> @Html.DisplayNameFor(model => model.isPreferred)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="networkTypeID" class="control-label"></label>
                <input asp-for="networkTypeID" class="form-control" />
                <span asp-validation-for="networkTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="customerSupportContact" class="control-label"></label>
                <input asp-for="customerSupportContact" class="form-control" />
                <span asp-validation-for="customerSupportContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="acceptedRegions" class="control-label"></label>
                <input asp-for="acceptedRegions" class="form-control" />
                <span asp-validation-for="acceptedRegions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="maxCoverageAmount" class="control-label"></label>
                <input asp-for="maxCoverageAmount" class="form-control" />
                <span asp-validation-for="maxCoverageAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChangeDate" class="control-label"></label>
                <input asp-for="ChangeDate" class="form-control" />
                <span asp-validation-for="ChangeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
