@model NetMed.Application.Dtos.Appointments.RemoveAppointmentsDto

@{
    ViewData["Title"] = "DeleteConfirmed";
}

<h1>DeleteConfirmed Appointments</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RemoveAppointmentsDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentID)
        </dd>
    </dl>
    
    <form asp-action="DeleteConfirmed">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
