@model NetMed.Application.Dtos.Appointments.AppointmentsDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Appointments</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="appointmentID" class="control-label"></label>
                <input asp-for="appointmentID" class="form-control" />
                <span asp-validation-for="appointmentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="patientID" class="control-label"></label>
                <input asp-for="patientID" class="form-control" />
                <span asp-validation-for="patientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="doctorID" class="control-label"></label>
                <input asp-for="doctorID" class="form-control" />
                <span asp-validation-for="doctorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="appointmentDate" class="control-label"></label>
                <input asp-for="appointmentDate" class="form-control" />
                <span asp-validation-for="appointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="statusID" class="control-label"></label>
                <input asp-for="statusID" class="form-control" />
                <span asp-validation-for="statusID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createdAt" class="control-label"></label>
                <input asp-for="createdAt" class="form-control" />
                <span asp-validation-for="createdAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="updatedAt" class="control-label"></label>
                <input asp-for="updatedAt" class="form-control" />
                <span asp-validation-for="updatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
